/* Set font styles */
h1,h2,h3,h4 {
    font-family: 'Indie Flower';
    display: inline-block;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF;
}

.top-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
}
div.date {
    position: absolute;
    top: 25px;
    right: 0px;
}

/* Layout */
div.page-header {
    background-color: #FF6EB1;
    color: #FFFFFF;
    height: 90px;
    margin-top: 0;
    padding: 10px 10px 10px 40px;
}
div.content {
    padding: 0px 40px;
    float: left;
}